@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #292d38;
  --primary-100: #2d2d2d;
  --primary-200: #212121;
  --primary-300: #1a1a1a;
  --primary-400: #1d1f25;
  --blue: #0094ff;
  --gray-dark: #37383d;
  --gray-light: #444751;
  --yellow-100: #ffea8e;
  --yellow-200: #ffe58e;
}

.noiseBg {
  background: #000000
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='2.2' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.45' /%3E%3C/svg%3E");
  background-size: 225px 225px; /* Fix the size to match the SVG's viewBox */
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Blinking Effect */

.blink-feed {
  overflow: hidden;
}

.blink-feed::before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
