@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #292d38;
  --primary-100: #2d2d2d;
  --primary-200: #212121;
  --primary-300: #1a1a1a;
  --primary-400: #1d1f25;
  --blue: #0094ff;
  --gray-dark: #37383d;
  --gray-light: #444751;
  --yellow-100: #ffea8e;
  --yellow-200: #ffe58e;
}

.noiseBg {
  background: #000000
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='2.2' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.45' /%3E%3C/svg%3E");
  background-size: 225px 225px; /* Fix the size to match the SVG's viewBox */
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Shimmer Effect */

.shimmer-feed {
  position: relative;
  overflow: hidden;
}

.shimmer-feed::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
  transform: rotate(30deg);
  animation: shimmer 4s infinite linear;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) rotate(30deg);
  }
  100% {
    transform: translateX(100%) rotate(30deg);
  }
}
/* Feed Card Custom styling */

.card {
  position: relative;
  width: 400px;
  height: 210px;
  background-color: #292d38;
  border-radius: 20px;
  border-top-right-radius: 70px;
  overflow: hidden;
}

.card .box {
  position: absolute;
  inset: 10px;
  background-color: #1d1f25;
  border-radius: 20px;
}

.card .box .icon {
  position: absolute;
  right: 0;
  width: 120px;
  height: 48px;
  background-color: #292d38;
  border-bottom-left-radius: 30%;
}

.card .box .icon::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px #292d38;
}

.card .box .icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px #292d38;
}
